# Dicionários em Python
### Estrutura:
dicionario = {chave: valor, chave:valor, chave:valor...}
### Vantagens e Desvantagens
- Não devem ser usados para pegar itens em uma determinada ordem
- Podem ter valores heterogêneos(vários tipos de valores dentro de um mesmo dicionário: inteiros, strings, listas, etc)
- Chaves são obrigatoriamente únicas
- Mais intuitivo de trabalhar

In [2]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodomestico': 'geladeira', 'lazer': 'prancha surf'}
vendas_tecnologia = {'iphone': 15000,'samsung galaxy': 12000, 'tv samsung': 10000, 'tablet': 1720, 'ps5': 14300 ,'ipad': 1000,'tv philco': 2500,'notebook dell': 1700,'notebook asus': 2450}

- Qual foi o item mais vendido na categoria "livros" e "lazer"
- Quanto foi vendido de "notebook asus" e "ipad"

In [3]:
livro = mais_vendidos['livros']
lazer = mais_vendidos['lazer']
notebook = vendas_tecnologia['notebook asus']
ipad = vendas_tecnologia['ipad']
print(livro)
print(lazer)
print(notebook)
print(ipad)

o alquimista
prancha surf
2450
1000

# Não confie na ordem dos dicionários, use as chaves
### Python Versões Antigas x Versões novas
- Dicionários eram "sem ordem". Atualmente tem ordem, mas o certo é usar as chaves
- 2 formas de pegar um valor:
    - dicionario[chave]
    - .get(chave)

## utilizando .get()
- Qual foi o item mais vendido na categoria "livros" e "lazer"
- Quanto foi vendido de "notebook asus" e "ipad"

In [4]:
livro2 = mais_vendidos.get('livros')
lazer2 = mais_vendidos.get('lazer')
notebook2 = vendas_tecnologia.get('notebook asus')
ipad2 = vendas_tecnologia.get('ipad')
print(livro2)
print(lazer2)
print(notebook2)
print(ipad2)

o alquimista
prancha surf
2450
1000

### Verificar se o item está no dicionário
- if
- .get(chave) = None

Se tentarmos procurar as vendas "copo" na lista de vendas tecnologia, o que acontece?

In [5]:
if vendas_tecnologia.get('copo') == None:
    print('Copo não está dentro da lista de produtos de tecnologia')
else:
    print(vendas_tecnologia.get('copo'))

Copo não está dentro da lista de produtos de tecnologia

# Adicionar, Remover e Modificar itens no Dicionário
### Estrutura:
- Adicionar itens:

dicionario = {}</br>
dicionario[chave] = valor</br>
outroa opção</br>
dicionario.update({chave: valor, chave: valor})

In [6]:
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}
# adicionando 1 item
print(lucro_1tri)
lucro_1tri['abril'] = 88000
print(lucro_1tri)
# adicionando vários itens ou um dicionario a outro dicionario
lucro_1tri.update(lucro_2tri)
print(lucro_1tri)
# adicionando um item já existente(manualmente ou pelo update)
print(lucro_1tri['janeiro'])
lucro_1tri['janeiro'] = 88000
print(lucro_1tri['janeiro'])

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
100000
88000

- Modificar itens:

Da mesma forma que adicionamos 1 valor, caso essa chave já exista o item é apenas modificado.</br>
dicionario[chave] = valor</br>
Vamos modificar o lucro de fevereiro:</br>
(Lembrando: caso o item não exista, ele vai criar o item no dicionario)

In [7]:
lucro_fev = 8500
print(lucro_1tri)
lucro_1tri['fevereiro'] = lucro_fev
print(lucro_1tri)

{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 88000, 'fevereiro': 8500, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

- Remover itens:

del dicionario[chave]<br>
ou então<br>
valor = dicionario.pop(chave)<br>
mas cuidado com: <br>
del dicionario que é diferente de dicionario.clear()

In [8]:
#removendo o mês de junho
print(lucro_1tri)
del lucro_1tri['junho']
print(lucro_1tri)
#obs: o del também funciona para listas, caso queira usar
#del lista[i]
funcionarios = ['joão', 'Lira', 'Maria', 'Ana', 'Paula']
print(funcionarios)
del funcionarios[2]
print(funcionarios)

{'janeiro': 88000, 'fevereiro': 8500, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 88000, 'fevereiro': 8500, 'março': 90000, 'abril': 88000, 'maio': 89000}
['joão', 'Lira', 'Maria', 'Ana', 'Paula']
['joão', 'Lira', 'Ana', 'Paula']

In [9]:
print(lucro_1tri)
lucro_maio = lucro_1tri.pop('maio')
print(lucro_1tri)
print(lucro_maio)

{'janeiro': 88000, 'fevereiro': 8500, 'março': 90000, 'abril': 88000, 'maio': 89000}
{'janeiro': 88000, 'fevereiro': 8500, 'março': 90000, 'abril': 88000}
89000

# For nos Dicionarios
### Estrutura:
for chave in dicionario:<br>

In [12]:
vendas_tecnologia['notebook hp'] = 1000

In [13]:
for chave in vendas_tecnologia:
    print(chave)

iphone
samsung galaxy
tv samsung
tablet
ps5
ipad
tv philco
notebook dell
notebook asus
notebook hp

In [14]:
for chave in vendas_tecnologia:
    print(f'{chave}: {vendas_tecnologia[chave]} unidades')

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
tablet: 1720 unidades
ps5: 14300 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook dell: 1700 unidades
notebook asus: 2450 unidades
notebook hp: 1000 unidades

- qual o total de notebooks vendidos

In [15]:
total_notebook = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebook += vendas_tecnologia[chave]
print(total_notebook)

5150